.header {
	background-color: orange;
	color: white;
	position: fixed;
	top: 5px;
	left: 0px;
	width: 100%;
}

a{
	text-decoration: none;
	color: white;
}

li{
	display: inline;
	padding-left: 10px;
	margin-left: 0px;
}

a:hover{
	text-decoration: underline;
}

.menu{
	display: inline;
	list-style-type: none;
}

.main {
margin-top: 100px;
padding: 20px;
padding-left: 100px;

}

.para {
	width: 400px;
	margin-right: 40px;
	float: left;
}

.img1 {
	width: 2%;
	height: 3%;
	margin-top: 100px;
	left: 20px;
	position: fixed;
}
.img2 {
	width: 2%;
	height: 3%;
	margin-top: 140px;
	left: 20px;
	position: fixed;
}
